@import url("https://fonts.googleapis.com/css2?family=Glory:wght@800&display=swap");

body{
	margin: 0 auto;
	border: 0;
	background-color: black;
	color: white;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	padding: clamp(3rem, 6vw, 6rem) clamp(1rem, 2vw, 2rem);
	max-width: 800px;
}

p {
	margin-block-start: 2rem;
	font-size: clamp(0.825rem, 0.825rem +((1vw - 0.2rem)* 0.433), 1.0625rem);
	/*	make the font-small the default of p */
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.biglinks {
	text-decoration: underline;
	font-size: clamp(0.9rem, 3vw, 1.2rem);
}

.font-medium {
	font-size: clamp(1.25rem, 3vw, 1.5rem);
}

.font-large {
	font-size: clamp(2.5rem, 3vw, 3rem);
}

.font-small {
	font-size: clamp(0.825rem, 0.825rem +((1vw - 0.2rem)* 0.433), 1.0625rem);
}

h2.font-large {
	font-family: "Glory", sans-serif;
	font-size: clamp(3rem, 4vw, 4rem);
	margin-block-start: 33.2px;
	margin-block-end: 33.2px;
}

img {
	width: 100%;
}

#initial-gallery {
	display: flex;
	max-width: 1000px;
	width: calc(100vw - (2 * clamp(1rem, 2vw, 2rem)));
	flex-wrap: wrap;
	gap: 5px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

footer {
	display: flex;
	margin: clamp(3rem, 6vw, 6rem) 0;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1000px;
	width: calc(100vw - (2 * clamp(1rem, 2vw, 2rem)));
}
table td:nth-child(1) { 
	text-align: right; 
	padding-right: 10px;
}
td {
	vertical-align: top;
}

tt {
	background-color: whitesmoke;
    color: black;
    padding: 2px;
    border-radius: 4px;
}